@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --black: #000;
    --white: #ffffff;
    --yellow:  #f7c73b;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--black);
    color: var(--white);
}
section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
    line-height: 1.5;
    border-bottom: var(--border);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.8rem
}
section h2 {
    font-size: 35px;
}
section h3 {
    font-size: 25px;
}
.section-content {
    display: flex;
}
.img-section {
    filter: drop-shadow(0px 0px 20px var(--yellow));
}

.logo img {
    width: 135px;
}
.promo-alert {
    background-color: var(--yellow);
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--black);
    z-index: 99;
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    transition: transform 0.3s ease;
    z-index: 10;
}
.hidden {
    transform: translateY(-100%);
}
.lista {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 1.8rem;
    cursor: pointer;
    transition: 1s;
    text-decoration: none;
    color: var(--white);
    margin: 0;
    padding: 0;
    
}
.lista a {
    color: var(--white);
    text-decoration: none;
}
.lista a:hover {
    letter-spacing: 0.5rem;
    color: gold;
}

.cta {
    border: none;
    width: 20%;
    background-color: var(--yellow);
    color: var(--black);
    height: 35px;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    text-decoration: none;
}
.cta:hover {
    color: #000;
    letter-spacing: 0.5rem;
    filter: invert(1) brightness(255%);
    
}
/* Menu responsivo */
.menu-btn {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.menu-btn span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}

/* Responsividade para o menu hambúrguer */
@media (max-width: 768px) {
    .lista, .cta {
        display: none;
    }

    .menu-btn {
        display: flex;
    }

    .menu.active .lista {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 160px;
        left: 0;
        right: 0;
        background-color: #000;
        padding: 10px;
    }

    .menu.active .cta {
        display: block;
        margin-top: 10px;
    }

    
}


.hero {
    position: relative; /* Para que os elementos internos possam ser posicionados */
    width: 100%;
}

.bg-hero {
    width: 100%;
    height: 100vh;
    z-index: 99;
    padding: 40px;
    display: flex;
    position: relative;
}

.circle {
    background-image: url('./assets/images/landingpage.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 700px;
    height: 700px;
    background: radial-gradient(circle, 
              #ffdf73 20%,        
              rgba(255, 223, 115, 0.5) 40%,  
              rgba(255, 223, 115, 0) 70%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Para posicionar no fundo */
    right: 0;
    top: 0;
    z-index: 1; /* Coloca o circle no fundo */
}

.bg-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 150px;
    gap: 1.8rem;
    width: 55%;
    z-index: 2; /* Para garantir que o texto fique sobre o .circle */
}
.bg-text h1 {
    font-size: 40px;
}
.bg-text h1 strong {
    color: green;
}
.bg-text .cta {
    width: 50%;
}
@media screen and (max-width: 450px) {
    body {
        max-width: 450px;
        width: 100%;
    }
    section {
        max-width: 450px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .section-content {
        display: flex;
        flex-direction: column;
    }
    .img-section img {
        max-width: 450px;
        width: 100%;
    }
    .action {
        max-width: 450px;
        width: 100%;
    }
    section .action .cta {
        width: 100%;
    }
    .bg-hero {
        max-width: 450px;
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 99;
        padding: 20px;
        position: relative;
    }
    .bg-text {
        max-width: 450px;
        width: 100%;
        text-align: justify;
        z-index: 2;
    }
    .bg-text .cta {
        display: flex;
        width: 100%;
    }
    .circle {
        max-width: 450px;
        width: 100%; /* Ajuste o tamanho conforme necessário para telas pequenas */
        height: 100%;
        right: auto; /* Centraliza o círculo */
        left: 0;
        top: 0;
        z-index: 0; /* Envia o círculo para o fundo */
        opacity: 0.2; /* Opcional: ajusta a opacidade para não sobrecarregar o conteúdo */
    }
    .circle img {
        width: 100%;
    }
    
}
@media screen and (min-width: 451px) and (max-width: 768px) {
    .bg-hero {
        min-width: 451px;
        max-width: 768px;
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 99;
        padding: 20px;
        background-image: url('./assets/banner/Home.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bg-text {
        max-width: 768px;
        min-width: 450px;
        width: 100%;
        text-align: justify;
    }
    .bg-text .cta{
        width: 70%;
        display: flex;
    }
}

.landingpage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.8rem
}

.landingpage h2 {
    font-size: 35px;
}
.vantagens {
    display: flex;
    flex-direction: column;
    line-height: 2;
    list-style: none;
    
}
.vantagens strong {
    color: var(--yellow);
}
.vantagens h3 {
    font-size: 25px;
}
.action {
    display: flex;
    flex-direction: column;
}
.action .cta {
    margin: 40px auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 50%;
}
@media screen and (max-width: 450px) {

}
@media screen and (max-width: 450px) and (max-width: 768px) {
     
}

.grid-portifolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;
    
}
.box-grid {
    border: 1px solid #f7c73b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 1.3rem;
    transition: 1s;
}
.box-grid img {
    width: 15rem;
    border-radius: 5px;
}
.box-grid a {
    text-decoration: none;
    color: var(--yellow);
    font-size: 20px;
    font-weight: 500;
    border: 1px solid var(--yellow);
    padding: 10px;
    border-radius: 5px;
}

.grid-portifolio .box-grid:hover {
    background-color: var(--yellow);  
}
.grid-portifolio .box-grid:hover>* {
    color: var(--white);   
    border: 1px solid var(--white);
}
@media screen and (max-width: 450px) {
    .grid-portifolio {
        max-width: 450px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 450px) and (max-width: 768px) {
     
}


.local {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    justify-content: space-between;
    text-align: center;
}
.local h2 {
    margin-top: 25px;
}
.review .box-container {
    display: flex;
    justify-content: space-between;
}
.review .box-container .box h3 {
    color: #fff;
    font-size: 1.5rem;
    margin: 1rem 0;


}
.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
    
}
.review .box-container .box p {
    font-size: 1.3rem;
    color: #fff;
    padding: 2rem 0;
    line-height: 1.5;
    font-weight: lighter;
}
.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}
@media screen and (max-width: 450px) {
    .review {
        max-width: 450px;
        width: 100%;
    }
    .review .box-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.5rem;
    }
}
@media screen and (max-width: 450px) and (max-width: 768px) {
     
}

.faq-section {
    max-width: 800px;
    margin:50px auto;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
}

.faq-section h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #444;
    padding: 10px 0;
}

.faq-question {
    width: 100%;
    background-color: transparent;
    color: #f0f0f0;
    text-align: left;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    padding: 10px;
    outline: none;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding-left: 10px;
}

.faq-item.open .faq-answer {
    max-height: 200px; /* Ajuste o valor para se adequar ao tamanho do conteúdo */
}

.faq-item.open .faq-question::after {
    content: "▲";
    float: right;
}

.faq-question::after {
    content: "▼";
    float: right;
    font-size: 0.8em;
    color: #888;
}

@media screen and (max-width: 450px) {
    .faq-section {
        max-width: 385px;
        width: 100%;
    }
}
@media screen and (min-width: 451px) and (max-width: 768px) {
     .faq-section {
        min-width: 451px;
        max-width: 650px;
     }
}

footer {
    border-top: var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    padding-bottom: 20px;
}

.footer-icons {
    display: flex;
    gap: 20px;
    padding: 40px;
    justify-content: center;
    
}
.footer-icons a {
    color: var(--white);
    text-decoration: none;
    transition: 0.5s;
    
}
.footer-icons a:hover {
    color: var(--yellow);
    transform: scale(1.5);
}
@media screen and (max-width: 450px) {
    footer {
        max-width: 450px;
        width: 100%;
    }
}
@media screen and (min-width: 451px) and (max-width: 768px) {
     footer {
        max-width: 768px;
     }
}

.btn-whatsapp {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
    cursor: pointer;
}
.btn-whatsapp img {
    max-width: 74px;
    transition: 0.4s;
    animation: zoomImage 2s infinite;
}
.btn-whatsapp img:hover{
    transform: scale(1.1);
}
.tooltip-text{
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -144px;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s;
    color: #f7c73b;
    background-color: var(--bg);
    font-size: 20px;
}
.btn-whatsapp:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}
@media screen and (max-width: 450px) {
    .btn-whatsapp{
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 99;
        cursor: pointer;
    }
    .btn-whatsapp img {
            max-width: 54px;
            transition: 0.4s;
            animation: zoomImage 2s infinite;
    }
    .btn-whatsapp img:hover {
            transform: scale(1.1);
    }
    .tooltip-text{
            visibility: hidden;
            position: absolute;
            width: 120px;
            top: 8px;
            left: -244px;
            padding: 6px;
            border-radius: 8px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.4s;
    }
    .btn-whatsapp:hover .tooltip-text{
        visibility: visible;
        opacity: 1;
    }
}



